.fullscreen {
  /* position: fixed; */
 /* background-color: green; */
 /* z-index: 9999; */
 /* width: 100%;
 height: 100%;
 top: 0;
 left: 0; */
 
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

table {
    margin-top: 50px;
    width: 90%;
    margin-left:auto; 
    margin-right:auto;
  }
  
  button {
    margin: 16px 8px;
  }

  .inline-block {
    display: inline-block;
    width: 48%;
    
  }

  .to-the-right {
    display: inline-block;
    width: 40%;
  }

  .ttr {
    margin-left: 350px;
  }

  .ttl {
    margin-left: 100px;
  }

  .center {
      text-align: center;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }