table {
    margin-top: 50px;
    width: 80%;
    margin-left:auto; 
    margin-right:auto;
  }
  
  button {
    margin: 16px 8px;
  }

  .inline-block {
    display: inline-block;
    width: 48%;
    
  }

  .to-the-right {
    display: inline-block;
    width: 40%;
  }

  .ttr {
    margin-left: 350px;
  }

  .ttl {
    margin-left: 100px;
  }

  .center {
      text-align: center;
  }